@model Project2BurgerMenu.Entities.Admin

@{
    ViewBag.Title = "MyProfileList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Profil Bilgilerini Düzenle</h4>

            <form method="post">
                <label>Adıniz:</label>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                <br />
                <label>Soyadiniz:</label>
                @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
                <br />
                <label>Email Adresi:</label>
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                <br />
                <label>Kullanici Adi:</label>
                @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })  
                <br />
                <label>Sifre:</label>
                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                <br />

                <button class="btn btn-info">Profili Güncelle</button>
            </form>
        </div>
    </div>
</div>

